
<h2>Showing a post on Rika Reddit</h2>

<%= @post.title %> by <%= @post.author.username %>
Content: <%= @post.content %>

<!-- upvote -->
<!-- downvote button -->


<h3>BANISH THE POST! KILL IT!</h3>

<form class="" action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="authenticity_token"
  value="<%=form_authenticity_token %>">

  <input type="hidden" name="_method" value="delete">

  <input type="submit" name="" value="GOODBYE POST">
</form>
